# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.toc
*.out
*.log
*.pdf
*.aux

# Build files
build
Rapport1/rapport.toc

Rapport1/rapport.pdf

Rapport1/rapport.aux
